*{
	font-family: arial; 
}


@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;

	}
	#sidebar{
		width: 100%;
		float: none;
	}
}


h1{
	text-align: center;
	background-color: maroon;
	color: white; 

}

.container{
	border-style: solid; 
	border-width: 12px;
	border-radius: 12px;
	border-color: maroon;
	text-align: center;
}


.container textarea{
	height:200px;
	width: 400px;
	padding-bottom: 8px;


}

.container label{
	padding-top: 8px;
	padding-bottom: 8px;
 	display: block;

